{% extends "users/base.html" %}
{% block content %}
<h2>Hello, {{ user.username }}</h2>
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</div>
    <p>
        It is {{ temperature }} Degrees, currently.
        {{ suggestion }}
        <!-- You should wear long sleeves, pants, and a sweater.  -->
    </p>
{% endblock content %}