<!-- This template has to be placed here as it is where Django is expecting it.
This can be changed. Look into Django documentation for instructions. -->
{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Account</legend>
            <h2>Are you sure you would like to delete your account "{{ object.username }}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Permanently delete my account</button>
            <a class="btn btn-outline-secondary" href="{% url 'profile_settings' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}